name: CD

on:
  push:
    paths-ignore:
      - "docs/**"
      - "*.md"

jobs:
  package:
    env:
      DisableGitVersionTask: true
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Package
      run: dotnet run --project build/Build.csproj -- --target Package
    - uses: actions/upload-artifact@v2
      with:
        name: Textrude.zip
        path: publish/Textrude.zip
